<div class="main">
    <div class="bottom-left text-white">Services</div>
</div>

<div class="container2 container-fluid text-center">
    <div class="row">
        <div class="col-sm-4 col-md-6 col-lg-5">
            <div class="being">
                <h2>Tibud SKMPC aims to...</h2>
            </div>
        </div>
        <div class="col-sm-8 col-md-6 col-lg-7">
            <div class="being-def">
                <p>
                    help and support our community by providing our people a sustainable employment opportunities, an opportunity to start their own Savings and Business Goals through our Savings and Credit Services and also Tibud SKMPC aims to provide our Member-Workers to sustain their daily needs.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container3 container-fluid">
    <div class="row row-1">
        <div class="col-sm-6 col-md-6 col-lg-6 d-flex justify-content-center">
            <div class="card card1">
                <div class="card-body">
                    <i class="material-icons">groups</i>
                  <h5 class="card-title">Jobcon Service</h5>
                  <p class="card-text">Tibud SKMPC provides Manpower Services to our partners from DOLE PHILIPPINES' Pineapple Plantation & Production, SEATRADE CANNING CORPORATION  & RR FISHING's Fish and Tuna Production, NEH AND ALSON's Banana & Bangus Production & also MSCPI and Franklin Baker Inc.'s Coconut Production.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 d-flex justify-content-center">
            <div class="card card1">
                <div class="card-body">
                    <i class="material-icons">savings</i>
                    <h5 class="card-title">Savings & Credit</h5>
                    <p class="card-text">Tibud SKMPC helps our member-workers and non-working members  to have an opportunity to save and apply for Loans through our SAVINGS & CREDIT Program. Tibud Savings and Credit offers Business Loan, Salary Loan & Emergency Loans as well as Time Deposit Savings, Pledge Savings Deposit and Regular Savings Deposits.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-2">
        <div class="col-sm-6 col-md-6 col-lg-6 d-flex justify-content-center">
            <div class="card card1">
                <div class="card-body">
                    <i class="material-icons">storefront</i>
                  <h5 class="card-title">Consumer Store</h5>
                  <p class="card-text">Tibud Consumer Store helps our member-workers to provide their household's basic needs. Through our P.O (Purchase Order) process they will be able to sustain their families some groceries,rice & other supplied food products.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 d-flex justify-content-center">
            <div class="card card1">
                <div class="card-body">
                    <i class="material-icons">local_pharmacy</i>
                    <h5 class="card-title">Pharmacy</h5>
                    <p class="card-text">Tibud Pharmacy also provides our member-workers to avail our supplied Medicines through the P.O (Purchase Order) process. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-3">
        <div class="col-sm-6 col-md-6 col-lg-6 d-flex justify-content-center">
            <div class="card card1">
                <div class="card-body">
                    <i class="material-icons">local_hospital</i>
                  <h5 class="card-title">Tibud Care Clinic</h5>
                  <p class="card-text">Tibud SKMPC's TIBUD CARE Clinic serves our member-workers to assist on their hospital needs. Through this program, the member-workers can avail the scheduled check up from our partner Doctor, member-workers could also apply for LOG ( Letter of Guarantee) process on our partner hospitals, with this program Tibud SKMPC can assist them on their hospital bills and payments before and after the admission.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 d-flex justify-content-center">
            <div class="card card1">
                <div class="card-body">
                    <i class="material-icons">directions_bus</i>
                    <h5 class="card-title">Tibud Trucking</h5>
                    <p class="card-text">Tibud SKMPC Trucking...</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-4">
        <div class="col-sm-6 col-md-6 col-lg-6 d-flex justify-content-center">
            <div class="card card1">
                <div class="card-body">
                    <i class="material-icons">warehouse</i>
                  <h5 class="card-title">Tibud Calamansi Production</h5>
                  <p class="card-text">Tibud SKMPC Calamansi...</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 d-flex justify-content-center">
            <div class="card card1">
                <div class="card-body">
                    <i class="material-icons">local_cafe</i>
                    <h5 class="card-title">Tibud Cacao Project</h5>
                    <p class="card-text">Tibud SKMPC Cacao...</p>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    body{
        font-family: 'Montserrat', sans-serif;
    }

    @media (min-width: 1200px) {
        .main {
            position: relative;
            text-align: center;
            height: 70vh;
            width: 100%;
            background-color: black;
        }

        .bottom-left {
            position: absolute;
            bottom: 40px;
            left: 16px;
            padding: 5rem 10rem;
            font-size: 5rem;
            font-weight: 600;
        }
            
        .container2{
            width: 100%;
            height: auto;
            padding: 5rem 0rem;
        }

        .being{
            padding: 3rem 10rem;
        }
        .being h2{
            font-size: 35px;
            font-weight: 700;
            text-align: left;
        }
        .being h3{
            font-size: 25px;
            font-weight: 700;
            text-align: left;
        }
        .being-def p{
            font-size: 25px;
            padding-top: 20px;
            font-weight: 100;
            text-align: left;
        }
        .being-def{
            padding: 2rem 5rem;
        }
        .container3{
            width: 100%;
            height: auto;
            background-color: black;
            padding-top: 5rem;
        }
        .card1{
            width: 30rem;
            height: 25rem;
            border: 0px;
            background-color: black;
            text-align: center;
        }
        .card1 h5{
            font-size: 2rem;
            color: #fff;
        }
        .card1 p{
            color: #fff;
        }
        .card1 .material-icons{
            font-size: 7rem;
            color: #fff;
        }
    }


    @media (max-width: 1200px) {
        .main {
            position: relative;
            text-align: center;
            height: 70vh;
            width: 100%;
            background-color: black;
        }
        .bottom-left {
            position: absolute;
            bottom: 8px;
            left: 16px;
            padding: 1rem 1rem;
            font-size: 4rem;
            font-weight: 500;
        }

        .container2{
            width: 100%;
            height: auto;
        }

        .being{
            padding: 1rem 2rem;
        }
        .being h2{
            font-size: 30px;
            font-weight: 700;
            text-align: left;
        }
        .being h3{
            font-size: 20px;
            font-weight: 700;
            text-align: left;
        }
        .being-def p{
            font-size: 20px;
            padding-top: 20px;
            font-weight: 100;
            text-align: left;
        }
        .being-def{
            padding: 1rem 2rem;
        }
        .container3{
            width: 100%;
            height: auto;
            background-color: black;
            padding-top: 3rem;
        }
        .card1{
            width: 30rem;
            height: 25rem;
            border: 0px;
            background-color: black;
            text-align: center;
        }
        .card1 h5{
            font-size: 2rem;
            color: #fff;
        }
        .card1 p{
            color: #fff;
        }
        .card1 .material-icons{
            font-size: 7rem;
            color: #fff;
        }
    }

</style>